<div class ="container" >
  <div class ="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Category: </strong><%= @category.name %></div>

	    <table class ="table table-hover">
	      <thead class="info">
	        <th class = "col-md-2 text-center">Date</th>
	        <th class = "col-md-3 text-center">Concept</th>
	        <th class = "col-md-2 text-center">Amount</th>
	        <th class = "col-md-1 text-center">Edit|Delete </th>
	      </thead>

	      <tbody>
			<% @expenses.where(category_id: @category.id).each do |expense| %>
					<tr>
						<td><%= expense.date.strftime("%d-%m-%Y") %></td>
						<td><%= expense.concept %></td>
						<td><%= expense.amount %></td>
						<td><%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_expense_path(expense) %> | <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						<% @subtotal += expense.amount %>
					</tr>	
			<% end %>
				<tr>
					<th>Total:</th>
					<th></th>
					<th class = 'text-center'><%= @subtotal %></th>
					<th></th>
				</tr>
	      </tbody>
	    </table>
  </div>
 </div>
</div> 

