<h3>Category: <%= @expense.category_id %></h3>
<h3>Date: <%= @expense.date %></h3>
<h3>Concept: <%= @expense.concept %></h3>
<h3>Amount: <%= @expense.amount %></h3>

<%= link_to "Categories", categories_path %>
<%= link_to "Expenses", expenses_path %>